body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f4f4f4;
  padding: 20px;
}

section {
  background-color: antiquewhite;
  border: 2px solid #0056b3;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  flex: 1;
  min-width: 300px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.campo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

button {
  background-color: #0056b3;
  color: antiquewhite;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #004494;
}

.add-contain {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.add-contain input {
  flex: 1;
  padding: 5px;
}
